.form-container{
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    width: 100%;
}

.label{
    text-align: right;
}

.btn{
    color: white;
}

.btn:hover{
    font-weight: bold;
    color: white;
}

.largura{
    min-width: 100%;
}
        
.fundo3{
    background-color: #570600;
}

.footer{
    position: relative;
    bottom:0;
    width:100%;
}