.letra{
  padding: 5px;
	outline: 1px solid white;
	background: #f2f2f2;
/*  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
  white-space: nowrap;
  */
}

.letra:hover{
	outline: 1px solid #cfcaca;
}
