
.panel-default{
    padding: 30px;
    margin:30px;
}


.btn{
    color: white;
}

.btn:hover{
    font-weight: bold;
    color: white;
}

.largura{
    min-width: 100%;
}
        
.fundo3{
    background-color: #570600;
}

.footer{
    position: absolute;
    bottom:0;
    width:100%;
}
